.active {
  background-color: rgb(255, 153, 0);
}
.header {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  background-color: rgb(250, 233, 212);
}
.link {
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  padding: 0 10px;
}
.nav {
  display: flex;
  gap: 30px;
  margin-left: 70px;
}
