.image {
  cursor: pointer;
  transform: scale(1);
  transition: transform 450ms;
  box-shadow: 0 0 13px 0 rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  &:hover {
    transform: scale(1.06);
    box-shadow: 0 0 13px 0 rgb(0, 0, 0, 0.6);
  }
}